.main-container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.employee-container {
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.panel-heading, .panel-title {
    color: mintcream;
    border-bottom: 2px solid mintcream;
    width: fit-content;
    margin: auto;
    padding-bottom: 0.3rem;
}


.panel-heading {
    font-size: 1.65rem;
}

.employee-container button {
    margin: auto;
    margin-top: 1rem;
    background-color: black;
    border: 2px solid dodgerblue;
    color: mintcream;
    border-radius: 10px;
    padding: 0.6rem;
    display: block;
    width: 90%;
    min-width: 270px;
}

.employee-container button:hover {
    background-color: #122647;
    border-color: mintcream;
    color: dodgerblue;
}

.user-panel, .parcle-panel, .employee-panel {
    width: 350px;
    margin: auto;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}