{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="/static/CSS/general/about.css">
{% endblock %}

{% block content %}
<h1 class="d-none">ABOUT US</h1>
<div class="about-block">
    <div class="about-heading">

        <img class="about-img" src="/static/images/logo/logo.png" alt="ARCODERS">
        <h2>About Us</h2>
    </div>
    <hr class="about-hr">

        <p class="about-data">
            ARCODERS is a platform which helps developers to write their efficient, logical and organized code by solving
            all their queries.
        </p>
    <p class="about-data">
        Our platform is absolutely free for everyone who codes. Everyone is allowed to learn, share their knowledge. We
        provide worthy programming-problems, efficient solutions of queries asked by users which will reduce programmers
        work and save their time. Our team reviews all programming-problems that are uploaded in this platform so that
        we provide a quality and useful resources for our coding community.
    </p>
    <p class="about-data">
        Our team is doing the best to provide a good environment for coding community to learn and develop innovative
        ideas that will make them a standard competitor in these Competitive world of Information and Technology
    </p>
        <hr class="about-hr mb-3">
<p class="about-founded my-0">Founded By - Anurag Rai</p>
</div>
{% endblock %}

{% block js %}
{% endblock %}