{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="/static/CSS/navbar/modal-field.css">
<style>
    .small-container{
        border: 2px solid dodgerblue;
        color: mintcream;
        font-family: 'JetBrains Mono', monospace, 'Roboto';
        margin: auto;
        margin-top: 5rem;
        max-width: 600px;
        border-radius: 10px;
    }

    .heading-password{
        color: mintcream;
    }

    hr{
        border: 1px solid dodgerblue;
    }

    .fg-username{
        width: 80%;
        margin: auto;
    }
    .password-submit-btn{
        max-width: 150px;
    }
</style>
{% endblock %}

{% block content %}
<div class="small-container">
    <h1 class="heading-password my-3">
        Forgot Password
    </h1>
    <hr class="mx-3">
    <form action="/forgot-password/" method="POST">
        {% csrf_token %}
        <input class="form-control arbuttons search-box-field my-3 fg-username" type="text" name="fg-username" id="fg-username" placeholder="Enter Username or Email">
        <hr class="mx-3">
        <button class="form-control arbuttons btn password-submit-btn mb-3">Get Mail</button>
    </form>
</div>
{% endblock %}

{% block js %}
{% endblock %}